
/*
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + body {
    padding-top: 102px;
}
*/

html{
    height: 100%;
}

body{
    background: #ede2c5;
    margin: 0;
    min-height: 100%;
    background: url("Images/indexPage/A1-Wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    background: #F8F8F8;
    padding: 20px;
    box-shadow: 5px 5px 15px 4px #cccccc;
    padding-top: unset;
}

.pageTitle{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 40pt;
    color: #475132;
}

.navContainer{
    width: 100%;
    text-align: center;
}

.navBarList{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.navBarList Li{
    list-style: none;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}

.navBarList a{
    text-decoration: none;
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 20pt;
    color: #b55b29;
}

.navBarList a:hover{
    color: #771300;
    font-weight: bold;
}

.navBarList a:active{
    color: #ede2c5;
}

.mainContainer{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 70%;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0 0 15px #cccccc;
}

.paraContainer{
    display: flex;
}

.headingTitle{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 30pt;
    color: #475132;
    margin: 20px;
}

#indexPara1{
    margin-right: 40px;
}

.paraStyle{
    flex-basis: 65%;
    height: 300px;
    background-color: white;
    border: solid #b55b29;
    margin-bottom: 30px;
}

.paraStyle li{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 15pt;
    margin-right: 10px
}

.generalContent{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 15pt;
    margin: 20px;
}

.generalContent a, .generalContent a:visited{
    color: #b55b29;
    text-decoration: none;
}

.generalBold{
    font-weight: bold;
    color: #771300;
}

#profileImage{
    flex-basis: 30%;
    height: 300px;
}

#avatar{
    display: inline-block;
    width: 300px;
    border-radius: 70%;
    border: 5px solid white;
    box-shadow: 0 0 15px 4px #cccccc;
    float: right;
}

.paraStyle{
    flex-basis: 65%;
    height: 300px;
    background-color: white;
    border: solid gainsboro;
    margin-bottom: 30px;
}

#skillsStyle{
    flex-basis: 65%;
    height: fit-content;
    background-color: white;
    border: solid gainsboro;
    margin-bottom: 30px;
    height: 720px
}

#skillsStyle li{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 15pt;
    margin-right: 10px
}

#skillsStyle2{
    flex-basis: 65%;
    height: fit-content;
    background-color: white;
    border: solid gainsboro;
    margin-bottom: 30px;
    height: 720px;
}

#skillsStyle2 li{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 12pt;
    margin-right: 10px
}

.generalContentSmall{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 13pt;
    margin: 20px;
}

.generalContentXS{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 10pt;
    margin: 20px;
}

.subHeadingTitle{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 20pt;
    color: #475132;
    margin: 20px;
}

#jobSource a, #jobSource a:visited{
    color: #b55b29;
    text-decoration: none;
}


#jobContainer{
    width: 95%;
    margin: auto;
    border-style: solid;
    border-color: gainsboro;
    box-shadow: 0 0 15px 4px #cccccc;
}

#jobImage{
    width:100%;
}

#advocateImg{
    display: inline-block;
    width: 300px;
    margin: auto;
}

.profileTest{
    width: 30%;
    margin-right: 20px;
}

#visualImg{
    display: inline-block;
    width: 300px;
}

#iQImg{
    display: inline-block;
    width: 350px;
}

