
/*
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + body {
    padding-top: 102px;
}
*/

html{
    height: 100%;
}

body{
    background: #ede2c5;
    margin: 0;
    min-height: 100%;
    background: url("Images/indexPage/A1-Wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    background: #F8F8F8;
    padding: 20px;
    box-shadow: 5px 5px 15px 4px #cccccc;
}

.pageTitle{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 40pt;
    color: #475132;
}

.navContainer{
    width: 100%;
    text-align: center;
}

.navBarList{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.navBarList Li{
    list-style: none;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}

.navBarList a{
    text-decoration: none;
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 20pt;
    color: #b55b29;
}

.navBarList a:hover{
    color: #771300;
}

.navBarList a:active{
    color: red;
}

.mainContainer{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 70%;
    margin: auto;
    background-color: #F8F8F8;
    padding: 50px;
    margin-top: 50px;
}

.paraContainer{
    display: flex;
}

#indexPara1{
    flex-basis: 65%;
    height: 300px;
    margin-right: 40px;
}

.headingTitle{
    font-family: "Avenir Next LT Pro", "Calibri Light", "Serif";
    font-size: 30pt;
    color: #475132;
}

#profileImage{
    flex-basis: 30%;
    height: 300px;
}

#avatar{
    display: inline-block;
    width: 300px;
    border-radius: 70%;
    box-shadow: 1px 1px 15px 8px #cccccc;
    float: right;
}



